.autocomplete--list {
  background: $white;
  border: 1px solid $darker-white;
  box-shadow: 0 .2rem .2rem $black-medium;
  font-size: 1.4rem;
  list-style: none;

  li {
    border-bottom: .1rem solid $light-white;
    border-radius: .2rem;
    color: $grey-medium;
    cursor: pointer;
    padding: 0;
  }

  a {
    border-radius: 0;
    color: $font-black;
    display: block;
    font-weight: normal;
    overflow: hidden;
    padding: 1rem .9rem;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .disabled {
    font-style: italic;
    padding: 1rem .9rem;
    pointer-events: none;
  }

}

.autocomplete--label {
  align-items: center;
  background: $light-blue;
  border-radius: .4rem;
  color: $white;
  display: inline-flex;
  float: left;
  font-size: 85%;
  font-weight: bold;
  height: 1.8rem;
  justify-content: center;
  margin-right: 1.2rem;
  margin-top: .4rem;
  width: 6rem;

  &.airport {
    background: $pink;
  }

  &.station {
    background: $grey-dark;
  }
}

.autocomplete--location {
  color: $text-grey;
  display: block;
  font-size: 85%;
  font-weight: normal;
}

em {
  font-style: normal;
  font-weight: bold;
}
