.pickup-widget {
  background: $dark-yellow;
  border-bottom: 2px solid $darker-yellow;
  border-radius: 0;
  box-shadow: none;
  margin: 18.5rem auto;
  width: 80%;
}

.pickup-widget--form {
  padding: 5%;
}

.pickup-widget--title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.1rem;
  padding-bottom: 1rem;
  text-shadow: none;
}

.pickup-widget--label {
  color: $ligher-black;
  display: block;
  font-size: 1.4rem;
  line-height: 3rem;
  text-shadow: none;
}

.pickup-widget--input {
  background: $bright-white;
  border: 1px solid $grey;
  border-radius: 0;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1.2rem 8% 1.2rem 2%;
  width: 90%;
}

@media (min-width: $desktop-breakpoint) {
  .pickup-widget {
    float: left;
    margin: 18.5rem 0 0 12.5rem;
    width: 39%;
  }
}
