// Colors
$dark-yellow: #f3ce56;
$ligher-black: #444;
$white: #fff;
$darker-yellow: #dab129;
$bright-white: #fefefe;
$grey: #a9a9a9;
$grey-medium: #989898;
$darker-white: #e6e6e6;
$black-medium: rgba(0, 0, 0, .4);
$light-white: #eaeaea;
$font-black: #222;
$pink: #f2817f;
$light-blue: #6eb8fa;
$grey-dark: #9d9dbb;
$text-grey: #808080;

// sizes
$desktop-breakpoint: 60rem;
